<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eMail</key>
	<string>$EMAIL</string>
	<key>fullName</key>
	<string>$FULLNAME</string>
	<key>userName</key>
	<string>$USERNAME</string>
</dict>
</plist>
